.venv/*
.vscode/*
UD/*
.venv/*
.vscode/*
UD/*
results/*
logs/*
*/checkpoints
*.pyc
!results/global_step5175
!results/eval_base.log
model/dataset.pkl
model/ood.pkl
model/superv_wght-dec.pkl
model/superv_wght-enc.pkl
model/tph.pkl
model/tpt.pkl
results/*
results_tpt/*
final_results/base_model/sharded/bf16_zero_pp_rank_0_mp_rank_00_optim_states.pt
final_results/base_model/sharded/bf16_zero_pp_rank_1_mp_rank_00_optim_states.pt
final_results/base_model/sharded/bf16_zero_pp_rank_2_mp_rank_00_optim_states.pt
final_results/base_model/sharded/bf16_zero_pp_rank_3_mp_rank_00_optim_states.pt
final_results/base_model/sharded/zero_pp_rank_0_mp_rank_00_model_states.pt
final_results/base_model/sharded/zero_pp_rank_1_mp_rank_00_model_states.pt
final_results/base_model/sharded/zero_pp_rank_2_mp_rank_00_model_states.pt
final_results/base_model/sharded/zero_pp_rank_3_mp_rank_00_model_states.pt
final_results/base_model/pytorch_model.bin
final_results/tpt_model/sharded/bf16_zero_pp_rank_0_mp_rank_00_optim_states.pt
final_results/tpt_model/sharded/bf16_zero_pp_rank_1_mp_rank_00_optim_states.pt
final_results/tpt_model/sharded/bf16_zero_pp_rank_2_mp_rank_00_optim_states.pt
final_results/tpt_model/sharded/bf16_zero_pp_rank_3_mp_rank_00_optim_states.pt
final_results/tpt_model/sharded/zero_pp_rank_0_mp_rank_00_model_states.pt
final_results/tpt_model/sharded/zero_pp_rank_1_mp_rank_00_model_states.pt
final_results/tpt_model/sharded/zero_pp_rank_2_mp_rank_00_model_states.pt
final_results/tpt_model/sharded/zero_pp_rank_3_mp_rank_00_model_states.pt
final_results/tpt_model/pytorch_model.bin
final_results/logs.log
